.welcome {
    width: 40vw;
}
#home-page {
    padding-left: 5vw;
}
#home-page p {
   color: var(--manatee);


}
.i-am {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 3vw;
}
#call-me {
    font-size: 2vw;
}
.avatar {
    margin-top:30px;
    margin-bottom: 30px;
    background-image: url('../images/avatar.png') !important;
    height: 40vw;
    width: 20vw;
    background-size: cover;
    border-radius:20vw 0 0 20vw ;
}
#distinct {
    color: var(--platinum);
}
#call-me #distinct:hover {
    font-size: 3vw;
    line-height: 0.2;
    color: #ffc600;
}

.shorts {
    font-size:  1vw;
    padding: 15px;
    max-width: 45vw;
}
.shorts p {
    min-height: 5vw;
    border-bottom: 1px solid var(--platinum);
}