{% extends 'base.html' %}

{% block content %}
    {% from 'components/form.html' import reach %}
    <div class="row">
        <div class="col-xs-12 col-md-6 d-flex justify-content-center justify-content-md-center">
            <img class='project-avatar' src="{{url_for('static',filename='images/me_fist.png')}}" alt="">
        </div>
        <div class="page-title col-xs-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
            <h1>Reach me out</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center gap">
        <a href="https://github.com/S-Alikhonov"><i class="fa fa-github m-4"></i></a>
        <a href="https://www.linkedin.com/in/saidalikhon-alikhonov-293993172/"><i class="fa fa-linkedin m-4"></i></a>
        <a href="https://twitter.com/ssoguniy?t=ilGOA4hp_khxHANaOYzv_w&s=09"><i class="fa fa-twitter m-4"></i></a>
        
    </div>
    {{reach()}}

{% endblock %}