
{% extends 'base.html' %}

{% block content %}
        <div class="d-flex justify-content-center d-xs-block d-md-none">
            <img src="{{url_for('static',filename='images/me_mac.png')}}" class='welcome' alt="">
        </div>
        <div id='home-page' class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8 text-center text-md-start texts">
                    <p class='i-am'>👋 <span id='distinct'>Hi! I'm Said</span>alikhon Alikhonov</p>
                    <p id='call-me'>You can <span id='distinct'>call me Data Scientist</span> or <span id='distinct'>AI engineer</span> 😉</p>
                    <div class="row">
                        <div class="col-xs-6 col-md-4 shorts m-2 d-none d-md-block d-lg-block">
                                <p>I love learning, exploring, preprocessing, creating, presenting and delivering</p>
                                <a href='{{url_for("projects")}}'class="btn btn-dark my-btn me-2">Go to my project</a>
                        </div>
                        <div class="col-xs-6 col-md-4 shorts m-2 d-none d-md-block d-lg-block">
                            <p>my favorite animals are 🐼s and 🐍</p>
                            <a href='{{url_for("about")}}'class="btn btn-dark my-btn me-2">Learn about me</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 d-flex justify-content-end">
                    <div class="avatar d-sm-none d-none d-md-block">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around d-block d-md-none mb-5">
                <a href='{{url_for("projects")}}'class="btn btn-dark my-btn me-2">Go to my project</a>
                <a href='{{url_for("about")}}'class="btn btn-dark my-btn me-2">Learn about me</a>
            </div>
           
        </div>
{% endblock %}