{% macro footer() %}
    <footer>
        <div class="container footer">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 foot">
                    <p>corso Dante</p>
                    <p>Turin Piedmont,Italy</p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 foot">
                    <p>tel: 1234456788</p>
                    <p>email: test@gmail.com</p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 foot">
                    <p>Lorem</p>
                    <p>Impsum</p>
                </div>
            </div>
        </div>
    </footer>
{% endmacro %}