<!-- Remove the container if you want to extend the Footer to full width. -->
{% macro footer() %}
<div class="container my-5">

    <footer class="text-center text-lg-start">
      <div class="container d-flex justify-content-center py-5">
        <a type="button" class="btn btn-primary btn-lg btn-floating mx-2" href="https://github.com/S-Alikhonov">
          <i class="fab fa-github"></i>
        </a>
        <a type="button" class="btn btn-primary btn-lg btn-floating mx-2" href="https://www.linkedin.com/in/saidalikhon-alikhonov-293993172/">
          <i class="fab fa-linkedin"></i>
        </a>
        <a type="button" class="btn btn-primary btn-lg btn-floating mx-2" href="https://twitter.com/ssoguniy?t=ilGOA4hp_khxHANaOYzv_w&s=09" >
          <i class="fab fa-twitter"></i>
        </a>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://saidalikhon.herokuapp.com">saidalikhon.herokuapp.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  {% endmacro %}